@import "tailwindcss";

@font-face {
  font-family: "NeoDGM";
  src: url("/fonts/neodgm_code.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "NeoDGM", sans-serif;
  --font-mono: "NeoDGM", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "NeoDGM", sans-serif;
}
